

.titulos{
    width: 900px;
}
.contenedo{
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 90px;
    
}

.nombreU{
    width: 300px;
}

.tA{
    position: absolute;
    top: 0;
}
.Contenedor{
    width: 100px;
    height: 100px;
}
.imgIcono{
    
    width: 50px;
    height: 50px;
}
.ContenedorLi{
    width: 200px;
    
    display: flex;
}
#MensajeP{
    margin-top: 15px;
    margin-left: 15px;

    
}


.nameL{
    width: 370px;
}

.nuA{
    width: 124px;
}

.usus{
    width: 375px;
}

.esta{
    width: 124px;
}

.btn{
    width: 95px;
}

.icon ul{
    display: flex;
    list-style: none;
    gap: 90px;
    position: absolute;
    top: 40px;
    right: 130px;
    
}
